*
!.gitignore
!README.org
!fix_bluetooth.sh

!.emacs.d/
.emacs.d/*
!.emacs.d/init.el
!.emacs.d/snippets/java-mode/*
!.emacs.d/snippets/
!.emacs.d/snippets/**

!.config/
.config/*
!.config/niri/
!.config/niri/**

!.config/waybar/
!.config/waybar/**
